## In-Class Exercise #4

1. Load "raw" dataset and all necessary packages

In [9]:
import numpy as np
import pandas as pd

# Assign path to the folder containing the dataset
class4Folder="~/Dropbox/_teaching/ECO4199/2023/Data-Science-for-Social-Scientists/Class 04 - Making Graphs/"
# read in the data using the read_stata() function and assign it to df
df= pd.read_stata(class4Folder+"vdsa.dta")

2. Data Cleaning: For all columns starting with "price"
- Remove R in all the price columns
- Change the data type to numeric ("cast")
- Replace the existing column with the numeric representation

In [10]:
# create a list of columns starting with price_ using list comprehension
cols = [col for col in df if col.startswith('price')]
# print the head of columns starting with price
display(df[cols].head())
# loop over the column list
for col in cols:
    # replace the values 
    df[col]= pd.to_numeric(df[col].str.replace("R ",""))
    
# print head() of the data frame
df.head()

  price_maize price_pearlmillet   price_rice price_sorghum price_wheat
0                      R 4253.0  R 6831.8184
1    R 3930.0          R 4843.0  R 6866.6665      R 4749.0
2    R 4046.0          R 4913.0   R 7325.758      R 4920.0
3    R 4380.0          R 7500.0                   R 5240.0    R 4620.0
4    R 4547.0          R 5250.0   R 9318.182      R 6905.0    R 5330.0

3. New Graph: Using the dataset below, create a plot that is different from the ones we saw in class, using [Matplotlib](https://matplotlib.org/) or [Seaborn](https://seaborn.pydata.org/)

Requirements: 
- Has a title
- Has titles for the axes
- Has appropriate tick marks on the axes

In [12]:
df = pd.read_pickle(class4Folder+"vdsa_cleaned.pkl")

#Many different solutions are possible here.