## In-Class Exercise #3

1. Import numpy and pandas

In [1]:
import numpy as np
import pandas as pd

2.  d is a dictionary of names and ages.
    
    - Convert it to a Pandas Dataframe
    - What are the columns of this dataframe? Use the attribute 'columns'
    - Save the column names to a list
    - What data types are each column? Use 'types' attribute

In [2]:
d = {'Name': ['John', 'Jane', 'Dave', 'Muhammad'], 'Age': [45, 16, 60, 23]}
dataframe = pd.DataFrame(data=d)

print(dataframe.columns)
cols = dataframe.columns.to_list()
print(cols)
print(dataframe.dtypes)

Index(['Name', 'Age'], dtype='object')
['Name', 'Age']
Name    object
Age      int64
dtype: object

3. Load the covid dataset into memory
- Show the first 10 observations of the dataset using the head() method
- create a new dataframe called df_mortality that only contains the columns province name, date, and the number of deaths
- Show the first 10 rows of df using the 'df.head' command

In [3]:
covidFile="https://www.dropbox.com/s/78h5e3xj36xl9eu/covid19_map.csv?dl=1"

df = pd.read_csv(covidFile)

# Save vars in list
toKeep=['prname','date','numdeaths']
# pass list in dataframe and save in new dataframe
df_mortality=df[toKeep].copy() 
# show head
df_mortality.head()

             prname        date  numdeaths
0           Ontario  31-01-2020        0.0
1  British Columbia  31-01-2020        0.0
2            Canada  31-01-2020        0.0
3           Ontario  08-02-2020        0.0
4  British Columbia  08-02-2020        0.0

4. The covid dataset contains rows that are not provices or territories. 
- Subset df_mortality and keep only provinces or territories. 
- Save the new data in a new dataframe called df_mortality2.
- Print the unique values of prname for df_mortality2

Hint 1: You will need to use "&" or "|" in between booleans and put parenthesis around each condition. 

Hint 2: Use the .unique() command to find what columns are in the dataframe

In [4]:
df_mortality2 =df_mortality[(df_mortality.prname!='Canada') & (df_mortality['prname']!='Repatriated travellers')]
display(df_mortality2.prname.unique())

array(['Ontario', 'British Columbia', 'Quebec', 'Alberta', 'Saskatchewan',
       'Manitoba', 'New Brunswick', 'Newfoundland and Labrador',
       'Nova Scotia', 'Prince Edward Island', 'Northwest Territories',
       'Nunavut', 'Yukon'], dtype=object)

5. Calculate the maximum number of daily deaths each month in Ontario
- Create a smaller dataset that only has Ontario in it
- use groupby to find the maximum number of daily deaths each month in Ontario
- First you'll need to get day, month and year in on dataframe
- Hint: use the max() method
- Hint2: the relevant column is 'numdeathstoday'

In [5]:
on=df[df['prname']=='Ontario'].copy()
on[['day','month','year']]=on['date'].str.split(pat='-',expand=True)
on.groupby(['year','month'])['numdeathstoday'].max().astype(int)

year  month
2020  01        0
      02        0
      03       14
      04       86
      05       84
      06       45
      07       14
      08        6
      09        9
      10       76
      11       35
      12       81
2021  01       89
Name: numdeathstoday, dtype: int64

## BONUS Exercise 
- What is the share of people tested in each province as percentage of the total number of people tested in Canada?
1. Create a dataframe named can, keeping the prname and numtestedtoday variables
2. Drop observations for 'Canada' and 'Repatriated travellers' in prname
3. Get the total number of people tested (hint: call sum on the column but do not use groupby)
4. Save the results in total_tested
5. Print out the total number of people tested in Canada
6. group the can dataframe by province and sum the total number of tested (suggestion: set as_index=False in groupby)
7. rename the variable _numtestedtoday_ to _totaltested_ 
8. Create a new colum, _total_, which contains the value in total_tested
9. Create a new column with the share for each province
10. show the head() of can for 13 observations

In [6]:
#1. Create a dataframe named can, keeping the prname and numtestedtoday variables
#2. Drop observations for 'Canada' and 'Repatriated travellers' in prname
can=df.loc[(df.prname!='Canada') &( df.prname!='Repatriated travellers'),['prname','numtestedtoday']]
#3. Get the total number of people tested (hint: call sum on the column but do not use groupby)
#4. Save the results in total_tested
total_tested=can['numtestedtoday'].sum()
#5. Print out the total number of people tested in Canada
print("{:,} tests were provided in Canada.".format(int(total_tested)))
#6. group the can dataframe by province and sum the total number of tested (suggestion: set as_index=False in groupby)
can=can.groupby(['prname'],as_index=False)['numtestedtoday'].sum()
#7. rename the variable numtestedtoday to totaltested
can.rename(columns={'numtestedtoday':'totaltested'},inplace=True)
# 8. Create a new colum, _total_, which contains the value in total_tested
can['total']=int(total_tested) #
#9. Create a new column with the share for each province
can['share_tested']=can['totaltested']/can['total']*100
can.head(n=13)

16,557,007 tests were provided in Canada.

                       prname  totaltested     total  share_tested
0                     Alberta    2979663.0  16557007     17.996387
1            British Columbia    1021911.0  16557007      6.172076
2                    Manitoba     436236.0  16557007      2.634752
3               New Brunswick     128255.0  16557007      0.774627
4   Newfoundland and Labrador      76391.0  16557007      0.461382
5       Northwest Territories       8323.0  16557007      0.050269
6                 Nova Scotia     195810.0  16557007      1.182641
7                     Nunavut       6558.0  16557007      0.039609
8                     Ontario    8633584.0  16557007     52.144594
9        Prince Edward Island      86220.0  16557007      0.520746
10                     Quebec    2656534.0  16557007     16.044772
11               Saskatchewan     321266.0  16557007      1.940363
12                      Yukon       6256.0  16557007      0.037785